@model IEnumerable<MVC.Models.Movie>

@{
    ViewData["Title"] = "AddMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search for a movie</h2>

@using (Html.BeginForm("Search", "MovieLists", FormMethod.Get, new { encType = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-11">
            <input class="form-control" type="text" name="query" value="" style="width:100%" />
        </div>
        <div class="col-md-1">
            <input type="submit" class="btn btn-primary" value="Search">
        </div>
    </div>
}

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(dummy => Model.First().TMDB_ID)
            </th>
            <th>
                @Html.DisplayNameFor(dummy => Model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(dummy => Model.First().Year)
            </th>
            <th>
                @Html.DisplayNameFor(dummy => Model.First().Poster)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Movie movie in Model.ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => movie.TMDB_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Poster)
                </td>
                <td>
                    @using (Html.BeginForm("Add", "MovieLists", FormMethod.Post, new { encType = "multipart/form-data" }))
                    {
                        <input type="hidden" name="list_id" value="@ViewBag.ListID">
                        <input type="hidden" name="movie_id" value="@movie.ID">
                        <input type="submit" class="btn btn-primary" value="Add" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

