@model MVC.Models.MovieListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ModelList.Name</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            Movie info will go here
        </div>
        <div class="col-md-8">
            <p>
                @Html.ActionLink("Add Movies", "Search", "MovieLists", new { query = "" }, new { @class = "btn btn-primary" })
            </p>
            <ol id="columns">
                @{ ViewBag.ListID = Model.ModelList.ID; }
                @for (int i = 0; i < Model.Movies.Count(); ++i)
                {
                    int j = i + 1;
                    Movie movie = Model.Movies[i];
                    <li class="column li-item" draggable="true">
                        <div class="header">
                            @using (Html.BeginForm("Remove", "MovieLists", FormMethod.Post, new { encType = "multipart/form-data" }))
                            {
                                <span class="header-span">@j. @movie.Title</span>
                                <input type="hidden" name="list_id" value="@Model.ModelList.ID">
                                <input type="hidden" name="movie_id" value="@movie.ID">
                                <input type="submit" class="btn btn-danger" style="float:right" value="Remove" />
                            }
                        </div>
                    </li>
                }
            </ol>
        </div>
    </div>

</div>

<link rel="stylesheet" type="text/css" href="~/css/view.css" />
<script type="text/javascript" src="~/js/draggable.js"></script>