@model MVC.Models.MovieListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <h1><b>@Model.ModelList.Name</b></h1>
        <div class="col-md-4" id="info-div" style="position:-webkit-sticky; position:sticky; top:0;">

        </div>
        <div class="col-md-8">
            <h4 style="color:red" id="error"></h4>
            <p>
                <button class="btn btn-success" id="save-button" onclick="update()">Save List</button>
                <button class="btn btn-primary" onclick="attemptToAdd()">Add To List</button>
            </p>
            <ol id="columns">
                @{ ViewBag.ListID = Model.ModelList.ID; }
                @for (int i = 0; i < Model.RankedMovies.Count; ++i)
                {
                    int rank = i + 1;
                    Movie movie = Model.RankedMovies[i].Item2;
                    <li class="column li-item" draggable="true">
                        <div class="header">
                            <div class="movie-item">
                                @using (Html.BeginForm("Remove", "MovieLists", FormMethod.Post, new { encType = "multipart/form-data" }))
                                {
                                    // this all needs to be fixed. use an ajax.post().
                                    // order of operation: click remove button -> delete html elem -> reOrder numbers in list -> auto save/updateRanks -> refresh(?)
                                    // OR: click remove button -> post the remove -> controller updates all ranks -> refresh (easier but not as nice)
                                    <span class="header-span rank">@rank. @movie.Title</span>
                                    <input type="hidden" name="list_id" class="list-id" value="@Model.ModelList.ID">
                                    <input type="hidden" name="movie_id" class="movie-id" value="@movie.ID">
                                    <input type="submit" onclick="reOrder()" class="btn btn-danger" style="float:right" value="Remove" />
                                    <button type="button" class="btn btn-info" style="float:right; margin-right:1em" onclick='showInfo("@movie.Poster", "@movie.Title", "@movie.Year", "@movie.Description")'>Info</button>
                                }
                            </div>
                        </div>
                    </li>
                }
            </ol>
        </div>
    </div>

</div>

<link rel="stylesheet" type="text/css" href="~/css/view.css" />
<script type="text/javascript" src="~/js/MovieLists/View/draggable.js"></script>

<script>

    function update() {

        var arr = document.getElementsByClassName("movie-item");

        var ranks = document.getElementsByClassName('rank')
        var listIDs = document.getElementsByClassName('list-id')
        var movieIDs = document.getElementsByClassName('movie-id')

        for (i = 0; i < ranks.length; ++i) {
            var text = ranks[i].innerText;
            var idxOfDot = text.indexOf('.');
            var rank = text.substr(0, idxOfDot);

            var listID = listIDs[i].value
            var movieID = movieIDs[i].value

            console.log(rank, movieID);
            $.post("/MovieLists/Save", {list_id: listID, movie_id: movieID, new_rank: rank})
        }

        var btn = $("#save-button")
        btn.html("Saved!")
        btn.removeClass("btn-success")
        btn.addClass("btn-default")
        setTimeout(function () {btn.addClass('btn-success');btn.removeClass('btn-default');btn.html("Save List");}, 1000)
    }

    /*
     * Even if the user has JS disabled in their browser, the middle-ware will
     * prevent movies from being added to a list at maximum capacity.
     */
    function attemptToAdd() {

        if (@Model.ModelList.Size == 100) {
            console.log("max")
            var elem = document.getElementById('error');
            elem.innerHTML = "There's no room for more movies!"
        } else {
            window.location.replace("/MovieLists/Search?list_id="+'@Model.ModelList.ID')
        }
        }

    function showInfo(poster_url, title, year, description) {
        $('#info-div').empty();
        $('#info-div').append('<img style="margin-top:5em" src="' + poster_url + '">')
        $('#info-div').append('<h2>' + title + '</h2>')
        $('#info-div').append('<h3>' + year + '</h3>')
        //$('#info-div').append('<p>' + description + '</p>')
    }

</script>


